
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.head{
  font-family: 'Luckiest Guy', cursive;
  font-weight: 500;
  font-size: 70px;
}


.main{
  box-shadow: 5px 5px rgb(255, 255, 255);
}
.sub{
  font-family: 'Kaushan Script', cursive;}

.background{
  background-image: url('./bgimgg.jpg');
  background-size:cover;

}
.box{
  box-shadow: 10px 10px 42px 8px rgb(91, 89, 89);
  background-color: rgb(251, 251, 251);
}

h3{
  color: rgb(255, 164, 170);
  font-family:'Carter One', cursive;
  text-shadow: 3px 3px rgb(152, 76, 76);

}

.libox{
  display: flex;
 list-style:none ;
 padding: 5px;
 text-align:center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 7px;
  width: 500px;
  height: 50px;
  background-color:rgb(189, 251, 255);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  box-shadow: 5px 5px rgb(73, 73, 73);

}

.display{
  margin-top: 20px;
}
.btn{
  width: 80px;
  
}
.btn:hover{
  width: 83px;
  height: 65px;
}


.libox:hover{
  box-shadow: 6px 6px rgb(0, 0, 0);
  width: 510px;
  height: 55px;
}